// 全局通用样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* 添加平滑滚动效果 */
html {
  scroll-behavior: smooth;
}

body {
  background: #f3f3f3;
  min-height: 100vh;

  letter-spacing: 0.1rem;
  font-family: 'NotoSerifSC', serif;
}
